@media screen and (max-width: 1024px) {
  header #logo {
    width: 153px;
    height: 100%;
    margin-left: 108px;
    flex-shrink: 0;
  }
  header nav ul {
    gap: 45px;
  }
  header nav ul li a {
    height: 40px;
    width: 90px;
  }
  #skills .wrapper .title {
    min-height: 75px;
  }
  #skills .wrapper .flex .skills h2 {
    font-size: 25px;
  }
  #skills .wrapper .flex .skills ul li {
    font-size: 15px;
  }
  #about .wrapper h1 {
    font-size: 30px;
  }
  #about .wrapper #about-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #about .wrapper #about-flex figure figcaption {
    margin-left: 0px;
  }
  #about .wrapper #about-flex figure img {
    margin-left: 0px;
    width: 70%;
  }
  #about .wrapper #about-flex p {
    margin: 30px 0 30px 0;
    text-align: center;
    gap: 5px;
  }
  #projects .wrapper #project-flex {
    flex-wrap: wrap;
  }
  #projects .wrapper #project-flex .project {
    width: 40%;
  }
  #contact .wrapper .flex .contacts {
    flex-direction: column;
  }
  #contact .wrapper .flex .contacts h1 {
    font-size: 30px;
  }
  #contact .wrapper .flex .contacts #button {
    display: flex;
    justify-content: center;
  }
  footer .wrapper p {
    font-size: 20px;
  }
  footer .wrapper #icons {
    font-size: 20px;
  }
  footer .wrapper #copy {
    font-size: 20px;
  }
}
@media screen and (max-width: 757px) {
  header #logo {
    width: 119px;
    margin-left: 0px;
    height: 70%;
  }
  header nav ul li a {
    height: 31px;
    width: 78px;
  }
  #skills .wrapper .flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
  }
  footer .wrapper #links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  footer .wrapper #links a {
    margin-top: 15px;
  }
  footer .wrapper #icons {
    float: right;
    gap: 20px;
  }
  footer .wrapper #copy {
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 567px) {
  header #logo {
    width: 90px;
    margin-left: 0px;
    height: 50%;
  }
  header nav ul li a {
    height: 27px;
    width: 72px;
    font-size: 15px;
  }
  #skills .wrapper .title h1 {
    font-size: 25px;
  }
  #skills .wrapper .flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
  }
  #skills .wrapper .flex .skills h2 {
    font-size: 20px;
  }
  #about .wrapper h1 {
    font-size: 20px;
  }
  #about .wrapper #about-flex figure img {
    width: 100%;
  }
  #about .wrapper #about-flex figure figcaption {
    font-size: 15px;
    margin-top: 10px;
  }
  #about .wrapper #about-flex p {
    font-size: 15px;
    width: 70%;
  }
  #projects .wrapper #project-flex {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #projects .wrapper #project-flex figure {
    font-size: 20px;
  }
  #projects .wrapper #project-flex .project {
    width: 70%;
  }
  #projects .wrapper h1 {
    font-size: 25px;
  }
  #contact .wrapper .flex .contacts h1 {
    font-size: 25px;
  }
  #contact .wrapper .flex .contacts .form {
    height: 44px;
    padding: 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 513px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  nav ul {
    gap: 0px;
  }
  nav ul li:last-of-type {
    margin-right: 0px;
  }
  nav ul li a {
    width: 81px;
    height: 35px;
    margin-right: 10px;
  }
  #projects .wrapper #project-flex {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  footer .wrapper #links a {
    margin-top: 7px;
  }
  footer .wrapper p {
    font-size: 15px;
  }
  footer .wrapper #icons {
    font-size: 15px;
  }
  footer .wrapper #copy {
    font-size: 15px;
  }
}/*# sourceMappingURL=responsive.css.map */