
$primary-color:#2388fa;
$hover-color:#333;
$text-color:#ffffff;
$border-color:rgba(35, 136, 250, .9);
$white-background:rgba(248, 248, 248, .9);
$margin-1: 8px;
$margin-2: 16px;
$margin-3: 20px;
$margin-4: 150px;
$font-1:25px;
$font-2:20px;
$border-r:10px;
$border-r-2:5px;
$border-r-3:15px;
$padding-1:5px;
$padding-2:10px;
$padding-3:15px;





